*{
    margin: 0;
    padding: 0;
}
/* banner start */
.banner{
    background-image:linear-gradient(90deg, #1A1A1A -0.7%, rgba(26, 26, 26, 0.00) 100%),url(./img/banner-bg.jpg) ;
    background-repeat: no-repeat;
    background-size: cover; 
    padding: 200px 180px;
    margin-bottom: 110px;
}
.b-content{
    
}
.b-content h2{
    font-family: "Inter", sans-serif;
    color: #FFF;
    line-height: 75px;
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 20px;
}
.b-content p{
    font-family: "Poppins", sans-serif;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 30px;
}
.b-content a{
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    background: #EF233C;
    padding: 16px 12px;
    border-radius: 5px;
    font-family: "Inter", sans-serif;
}
/* banner end */
/* lives start */
.lives{
    display: flex;
    justify-content:center;
    gap: 94px;
    padding: 100px;
}
.lives-1{
    display: flex;
    justify-content: center;
    gap: 94px;
    padding: 100px;
}
.l-content{
    align-items: center;
}
.l-content h2{
    color: #121212;
    font-family: "Inter", sans-serif;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}
.l-content p{
    color: #707070;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 30px;
}
.l-content a{
    padding: 16px 20px;
    background-color: #EF233C;
    color: #FFF;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
}
.l-img{
    width: 60%;
}
.l-img img{
    width: 80%;
    border-radius: 5px;
}
.lives-img{
    width: 500px;
}
.lives-img img{
    width: 500px;
    border-radius: 5px;
}
/* lives end */
/* donation start */
.d-content{
    text-align: center;
    margin-bottom: 50px;
}
.d-content h2{
    font-family: "Inter", sans-serif;
    font-size: 45px;
    color: #121212;
    font-weight: 700;
    margin-bottom: 20px;
}
.d-content p{
    color:  #707070;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}
.donation{
    display: flex;
    justify-content: center;
}
.d-box{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    margin-bottom: 130px;
}
.box-1{
    display: flex;
    justify-content: center;
    padding: 40px;
    gap: 30px;
    background: #FEF4F5;
    border-radius: 10px;
}
.box-img{
    
}
.box-img img{

}
.box-content{

}
.box-content h4{
    font-family: "Inter", sans-serif;
    color: #121212;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
.box-content p{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #707070;
}
/* donation end */
/* charity start */
.charity{
    text-align: center;
    margin-bottom: 50px;
}
.charity h2{
    font-family: "Inter", sans-serif;
    font-size: 45px;
    font-weight: 700;
    color: #121212;
    margin-bottom: 20px;
}
.charity p{
    color: #707070;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}
.c-box{
    display: flex;
    justify-content: center;
    gap: 24px;
    border-radius: 10px 10px 0px 0px;
    
}
.c-box1{
    border: 1px solid #D9D9D9;
    border-radius: 10px;
}
.c-box1 img{
    margin-bottom: 28px;
}
.c-box1 h4{
    color: #121212;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-left: 18px;
    margin-bottom: 10px;
}
.c-box1 p{
    font-family: "Poppins", sans-serif;
    margin-left: 18px;
    margin-bottom: 30px;
    color: #707070;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}
.c-box1 a{
    font-family: "Inter", sans-serif;
    margin-left: 18px;
    color: #EF233C;
    font-size: 20px;
    font-weight: 600;
}
/* charity end */